
        body {
            margin:0;
            background: #000;
        }
        @font-face {
            font-family: 'ArcadeR';
            src: url('font/ARCADE_R.TTF');
            /*
            src: url('font/PressStart2P.ttf');
            */
        }
        #canvas-warning {
            color: #FF0;
            font-size: 1.5em;
        }
    
body {
  background-image: url('img/PacmanBackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

body {
  background-image: url('img/PacmanBackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
